:root {
  --bg: #b7d4ff;
  --bg2: #3b5b8a;
  --panel: #fff5fa;
  --accent: #355078;
  --accent-dark: #294165;
  --text: #11223a;
  --muted: #7b92b5;

  --radius: 14px;
  --shadow-card: 0 3px 10px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", "Poppins", sans-serif;
  background: linear-gradient(180deg, var(--bg), var(--bg2));
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.wrap {
  width: 900px;
  max-width: 100%;
  margin: auto;
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 4px;
}

h1 {
  margin: 0;
  font-size: 40px;
  color: var(--accent);
  font-weight: 800;
}

.info {
  display: flex;
  gap: 24px;
  font-size: 15px;
  color: var(--muted);
  font-weight: 500;
}


main {
  display: flex;
  gap: 28px;
  justify-content: center;
  flex-wrap: wrap;
}

#board {
  background: #000;
  border-radius: var(--radius);
  image-rendering: pixelated;
  border: 8px solid var(--accent-dark);
  box-shadow: 0 0 15px #3b5b8a;
}

.side {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.card {
  background: var(--panel);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-card);
}

.card {
  border: 2px solid #3b5b8a;
}

.card h3 {
  margin: 0;
  font-size: 18px;
  color: var(--text);
  font-weight: 700;
  margin-bottom: 10px;
}


#next {
  background: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.controls ul {
  margin: 10px 0 0 0;
  padding-left: 20px;
  text-align: left;
   display: inline-block;
}

.controls li {
  margin-bottom: 6px;
  color: var(--muted);
  font-weight: 500;
}


#startBtn {
  background: var(--accent);
  color: white;
  border: none;
  padding: 14px;
  border-radius: var(--radius);
  font-weight: 700;
  cursor: pointer;
  font-size: 17px;
  transition: transform .25s ease, box-shadow .25s ease;
  box-shadow: 0 5px 15px #3b5b8a;
}

#startBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 7px 22px #3b5b8a;
}


footer {
  text-align: center;
  color: var(--muted);
  font-size: 14px;
  padding: 10px 0 0;
  margin-top: 30px;
}

footer a {
  color: var(--accent-dark);
  font-weight: 700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 700px) {
  .side {
    width: 100%;
    max-width: 320px;
  }

  #board {
    width: 200px !important;
    height: 400px !important;
  }
}
